body {
  margin: 0px;
}

#dial-container {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 1em;

  .dial {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    transform: rotateX(55deg) rotateZ(135deg);
    transform-style: preserve-3d;

    button {
      height: 2.4em;
      width: 2.4em;

      span {
        transform: rotateZ(-135deg);
        display: block;
      }
    }
  }
}

.renderer-container {
  width: 85%;
  margin: auto;
  height: 90vh;
  /*background-color: black;*/

  #renderer {
    height: inherit;
    width: inherit;
    mix-blend-mode: difference;
  }
}
