node_modules
docs
resources
.hugo_build.lock
hugo_stats.json
content/logo/img001.jpg
content/logo/img001
static/images/cm.png
static/images/favicon*
static/images/logo.png
**/.DS_Store
assets/css/**
static/fonts/**
static/images/title-bg.png
patches/
static/pdfjs/
content/**/*-hdr.jpeg
assets/jsconfig.json
static/images/svgs/cm-clippath.svg
data/stats.json
**/*.yuv
**/*-tmp.jpg
tmp-pdfjs
**/*.blend1
content/**/ogPreview.*g
content/**/ogPreview-overlay.*g
