#dial-container {
  display: flex;
  place-content: center center;
  justify-content: center;

  .dial {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    transform: rotateX(55deg) rotateZ(135deg);
    transform-style: preserve-3d;
    background-color: transparent;
    padding: 1em;

    button {
      height: 2.4em;
      width: 2.4em;
      border: 0;
      /*background-color: white;*/
      background: repeating-radial-gradient(circle at 100% 0%, #eee, #ccc 40%);
      color: black;
      border-radius: 3px;

      span {
        transform: rotateZ(-135deg);
        display: block;
      }
    }
  }
}
