/* Inspired by https://codepen.io/RickyMarou/pen/dyoMXYR */
.caed {
  a:has(span) {
    position: relative;
    color: var(--text-color);
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: .2em;
      background: #fff;
      bottom: 0;
      transition: all 0.2s ease-out;
    }

    &:hover::before {
      height: 1.5em;
      transform: translateY(.2em);
    }

    span {
      cursor: pointer;
      position: relative;
      display: inline-block;
      background: linear-gradient(to bottom, #fff, #fff 60%, #000 60%, #000 100%);
      background-clip: text;
      background-repeat: no-repeat;
      transition: background 0.2s ease-out;
      white-space: nowrap;
      mix-blend-mode: difference;

      &:hover {
        background-position: 0 -.4em;
      }

    }
  }
}
