.stack.about .card {
  .post-header {
    .post-title {
    }
  }

  .post-body {
    .post-content {
      .post-text {
        display: flex;
        flex-direction: column;

        p {
          white-space: normal;
          flex-basis: 100%;
          text-align: justify;
        }
      }
    }
  }
}
