.stack.about .card {
  .post-header {
    .post-title {
    }
  }

  .post-body {
    .post-content {
      .post-body {
        h1 {
          font-size: 4.6vmin;
        }
      }

      .post-text {
        display: flex;
        flex-direction: column;

        p {
          white-space: normal;
          flex-basis: 100%;
          text-align: justify;
          font-size: 3vmin;
        }
      }
    }
  }
}
