@use "vars";
@use "fonts";

.footer {
  display: flex;
  justify-content: center;
  color: vars.$text-color;
  width: 100vw;
  position: fixed;
  bottom: 0;
  max-height: 1.8rem;
  z-index: 11;

  .projektemacher {
    $footer-shadow:
      0 0 0.2rem var(--background-color),
      0 0 0.2rem var(--background-color),
      0 0 0.4rem var(--background-color),
      0 0 0.4rem var(--background-color),
      0 0 0.6rem var(--background-color),
      0 0 0.6rem var(--background-color),
      0 0 0.8rem var(--background-color),
      0 0 0.8rem var(--background-color),
      0 0 1rem var(--background-color),
      0 0 1.2rem var(--background-color);
    font-size: 1rem;
    position: relative;
    text-shadow: $footer-shadow;
    padding-top: 0.2rem;
    text-align: center;
    min-width: 50%;
    background-color: var(--background-color);
    box-shadow: 0 0 10px var(--background-color);
    @include fonts.handjet-pixelated(250);

    .logo {
      content: "";
      height: 0.8rem;
      width: 0.8rem;
      mask-image: url("/images/cm.png");
      mask-position: center;
      mask-size: contain;
      vertical-align: middle;
      mask-mode: luminance;
      display: inline-block;
      mask-repeat: no-repeat;
      filter: drop-shadow($footer-shadow);
      margin: 0 0.4rem;

      &::before {
        content: "";
        height: 100%;
        background-image: url("/images/white-hdr.jpeg");
        display: block;
      }
    }

    .copyright {
      text-align: center;
      margin-top: 0.2rem;
    }
  }
}
