@use 'sass:color';

#main {
  /* Make sure this covers the whole screen */

  .content-image {
    background-image: $hdr-bg;
    background-size: 100% 100%;
  }
}

.home {
  @keyframes home-title {

    from {
      font-variation-settings: "wght" 400, "ELSH" 2, "ELGR" 1;
      /*opacity: .5;*/
    }

    to {
      font-variation-settings: "wght" 200, "ELSH" 4, "ELGR" 2;
      /*opacity: 1;*/
    }
/*
    0% {
      font-variation-settings: "wght" 350, "ESHP" 2, "EGRD" 1;
    }

    25% {
      font-variation-settings: "wght" 200, "ESHP" 2, "EGRD" 1;
    }

    50% {
      font-variation-settings: "wght" 200, "ESHP" 4, "EGRD" 1;
    }

    75% {
      font-variation-settings: "wght" 200, "ESHP" 4, "EGRD" 2;
    }
*/
  }

/* @supports (font-variation-settings: normal) { */

  .page-title {
    position: relative;
    max-width: 100vw;

    .home-title {
      mix-blend-mode: unset;
      background-image: $hdr-bg;
      background-size: 100% 100%;
      background-clip: text;
      font-size: 35vh;
      font-variation-settings: "wght" 350, "ESHP" 2.4, "EGRD" 1.07;
      /*mix-blend-mode: difference;*/

      animation: home-title 10s infinite ease-out alternate;
      color: transparent;
      /*     text-shadow: 0 0 black;

       */

    }
    .home-title-shadow {
      position: absolute;
      font-size: 35vh;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -3;

    }
  }
}

/* ---------- post ----------- */

.item {


  .post-header {
    height: 10vh;

    .post-title {

    }

    .post-meta {
      display: none;

      .post-date {

      }

      .post-tags {

      }

    }
  }

  .post-body {
    height: 90vh;

    .post-content {

      .post-text {
        color: white;

      }

      .images {

        .post-image {
          max-width: 100%;
          object-fit: cover;
        }

      }

    }

  }

}
