@use "vars";

.card.phenomenon .post-body .post-content {
  justify-content: center;

  .post-text {
    /* height: 100%; */
  }
}

.renderer-container {
  width: 100%;
  height: 100%;
  position: relative;
  max-height: 100%;

  #touch-indicator {
    transition: opacity 200ms linear;

    &.hide {
      animation: unset;
    }
  }

  @keyframes touch {
    0% {
      opacity: 0;
      /* transform: scale(1) rotateY(-30deg) rotateX(0deg) translateX(-100%); */
      transform: scale(1) translateX(-100%);
      filter: drop-shadow(0 0 0.8rem black);
    }
    15% {
      opacity: 1;
      /* transform: scale(1) rotateY(-30deg) rotateX(0deg) translateX(-100%); */
      transform: scale(1) translateX(-100%);
      filter: drop-shadow(0 0 0.8rem black);
    }
    25% {
      /* transform: scale(.9) rotateY(-30deg) rotateX(15deg) translateX(-100%) translateY(10%); */
      transform: scale(0.9) translateX(-100%) translateY(10%);
      filter: drop-shadow(0 0 0.5rem black);
    }
    75% {
      /* transform: scale(.9) rotateZ(30deg) rotateX(15deg) translateX(75%) translateY(10%); */
      transform: scale(0.9) translateX(100%) translateY(10%);
      filter: drop-shadow(0 0 0.5rem black);
    }
    85% {
      opacity: 1;
      /* transform: scale(1) rotateZ(30deg) rotateX(0deg) translateX(75%); */
      transform: scale(1) translateX(100%);
      filter: drop-shadow(0 0 0.8rem black);
    }
    100% {
      opacity: 0;
      /* transform: scale(1) rotateZ(30deg) rotateX(0deg) translateX(75%); */
      transform: scale(1) translateX(100%);
      filter: drop-shadow(0 0 0.8rem black);
    }
  }

  .touch-icon {
    pointer-events: none;
    position: absolute;
    color: var(--text-color);
    background: vars.$touch-icon;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 5;
    animation: touch 5s ease-in-out 1s infinite alternate;
    transform-style: preserve-3d;
    transform-origin: center;
    aspect-ratio: 1/1;
    width: 4rem;
    opacity: 0;
    top: 33%;
    left: 49%;

    @media all and (orientation: landscape) {
      top: 50%;
      left: 66%;
    }
  }

  #renderer {
    mix-blend-mode: difference;
    max-height: 100%;
    position: absolute !important;
    height: 100%;
    width: 100%;

    &:hover + #touch-indicator {
      animation: unset;
    }
  }
}
