#dial-container {
  display: flex;
  place-content: center center;
  justify-content: center;

  .dial {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    transform: rotateX(55deg) rotateZ(135deg);
    transform-style: preserve-3d;
    background-color: transparent;
    padding: 1em;

    button {
      height: 2.4em;
      width: 2.4em;
      border: 0;
      /*background-color: white;*/
      /*background: repeating-radial-gradient(circle at 100% 0%, #eee, #ccc 40%);*/
      background: radial-gradient(closest-side, rgba(212,212,212,.01) 30% , rgba(2,0,36,1)),
                  repeating-linear-gradient(30deg, rgba(2,0,36,.5), rgba(212,212,212,.5), rgba(2,0,36,.5) 10%),
                  repeating-linear-gradient(-30deg, rgba(2,0,36,.5), rgba(212,212,212,.5), rgba(2,0,36,.5) 10%)
                  ;
      color: black;
      border-radius: 3px;

      span {
        transform: rotateZ(-135deg);
        display: block;
        text-shadow:
         -1px -1px 0 #fff,
          1px -1px 0 #fff,
          -1px 1px 0 #fff,
           1px 1px 0 #fff;
      }
    }
  }
}
