#head {
  width: calc(100% - 3% * 2);
  max-width: calc(100% - 4em);
  padding-top: 2em;
  left: 3%;
  right: 3%;

  &.header-menu {
    position: fixed;
    /*

    text-shadow: 0 0 1.2em black, 0 0 1.2em black, 0 0 .9em black, 0 0 .6em black, 0 0 .3em black;
    */
    text-shadow: 0 0 1.2em black, 0 0 1.2em black, 0 0 .9em black, 0 0 .6em black, 0 0 .3em black;
    mix-blend-mode: difference;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;

    .header-menu-list {

      min-width: 16em;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-size: 2em;

      .menu-item {
        display: inline-block;

      }
    }
  }

  .menu {
    display: none;
  }
}
