@use "vars";
@use "effects";

.stack-switcher {
  .left,
  .right,
  .up,
  .down {
    pointer-events: all;
    position: fixed;
    color: var(--text-color);
    background: vars.$arrow-icon;

    background-size: contain;
    background-repeat: no-repeat;
    transition: 100ms;
    transform-origin: center;
    cursor: pointer;
    z-index: 5;
    filter: drop-shadow(0 0 0.2rem black) drop-shadow(0 0 0.4rem black)
      drop-shadow(0 0 0.6rem black);
    /* @include effects.blur; */
  }

  .left,
  .right {
    height: 1em;
    width: 2em;
    vertical-align: middle;
  }

  .left {
    transform: rotate(90deg);
  }

  .right {
    transform: rotate(270deg);
  }

  .up,
  .down {
    height: 1em;
    width: 2em;
  }

  .up {
    transform: rotate(180deg);
  }

  a {
    text-decoration: none;
    color: var(--background-color);
    position: fixed;
    z-index: 5;
    transition: 100ms;
    display: flex;
    align-items: center;
    justify-content: center;

    &:has(.left),
    &:has(.right) {
      height: 4em;
      width: 2em;
      top: 50%;
      vertical-align: middle;
    }

    &:has(.left) {
      left: 1em;
      transform: translate(0%, -50%);
    }

    &:has(.right) {
      right: 1em;
      transform: translate(0%, -50%);
    }

    &:has(.up),
    &:has(.down) {
      height: 2em;
      width: 4em;
      left: 50%;
    }

    &:has(.up) {
      top: 0.6em;
      transform: translate(-50%, 0%);

      @media all and (orientation: landscape) {
        top: 1em;
      }
    }

    &:has(.down) {
      bottom: 1em;
      transform: translate(-50%, 0%);
    }

    &:hover {
      .up {
        transform: translate(0%, -20%) rotate(180deg) scale(1.2);
      }

      .left {
        transform: translate(-20%, 0%) rotate(90deg) scale(1.2);
      }

      .right {
        transform: translate(20%, 0%) rotate(270deg) scale(1.2);
      }

      .down {
        transform: translate(0%, 20%) scale(1.2);
      }
    }

    &.hidden {
      transition: 100ms;
      opacity: 0;
      pointer-events: none;

      .left,
      .right,
      .up,
      .down {
        pointer-events: none;
        cursor: unset;
      }
    }
  }
}
