/* Colors */
$background-color: #000;
$text-color: #fff;
$hdr-bg: url("/images/white-hdr.jpeg");
$arrow-icon: url("/images/svgs/arrow.svg");

/* Fonts */
$text-font: "Figtree", roboto, helvetica, sans-serif;
$title-font: "Handjet Variable";
$heading-font: "";
$sub-heading-font: "";
$menu-heading-font: "Special Elite";
$menu-text-font: "Handjet Variable", "Courier New", courier, monospace;

$touch-icon: url("/images/svgs/finger.svg");
