{{ define "title" }}
  {{- $title := "" -}}
  {{- if ne .Params.metaPage true -}}
    {{- if eq .CurrentSection.Title "" -}}
      {{- $title = .Title -}}
    {{- else if eq .CurrentSection.Title .Title -}}
      {{- $title = .Title -}}
    {{- else -}}
      {{- $title = printf "%s: %s" .CurrentSection.Title .Title -}}
    {{- end -}}
  {{- else -}}
    {{- $title = .Title -}}
  {{- end -}}

  {{ $title }} · {{ .Site.Title }}
{{ end }}

{{ define "content" }}
  <main role="main" class="section">
    {{- partial "lang-switcher.html" . -}}
    {{- partial "menu.html" . -}}
    {{- if .IsHome -}}
      {{- partial "home.html" -}}
    {{- end -}}
    {{/* TODO: Check if we need this */}}
    {{- partial "page-sections.html" . -}}
  </main>
{{- end -}}
