{{ define "title" }}
  {{- $title := "" -}}
  {{- if ne .Params.metaPage true -}}
    {{- if eq .CurrentSection.Title "" -}}
      {{- $title = .Title -}}
    {{- else if eq .CurrentSection.Title .Title -}}
      {{- $title = .Title -}}
    {{- else -}}
      {{- $title = printf "%s: %s" .CurrentSection.Title .Title -}}
    {{- end -}}
  {{- else -}}
    {{- $title = .Title -}}
  {{- end -}}

  {{ $title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <main role="main" class="single">
    {{- partial "lang-switcher.html" . -}}
    {{/*
      TODO: Make sure that the links are correct
    */}}
    {{- partial "menu.html" . -}}
    {{ partial "item.html" . }}
  </main>
{{ end }}
