
.article-container {
  overflow: hidden;
  height: 100vh;
  position: relative;
  /* background-color: black; */
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  display: block;
  margin: auto;
}

h1 {
  font-size: 10vw;
}

h2 {
  font-size: 3.4vw;
  margin: 1rem;
  margin-bottom: 2rem;
}

.titleImg {
  max-height: 60vh;
  max-width: 70vw;
  align-self: center;
}

.content {
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #ffffffd0;
  /*mix-blend-mode: difference;*/
  font-family: 'League Spartan';
  font-weight: 600;
  text-shadow: 2px 2px #3e3d3d;
  align-items: center
}
