/* Colors */
$background-color: #000;
$text-color: #fff;
$hdr-bg: url('/images/white-hdr.jpeg');
$arrow-icon: url('/images/svgs/arrow.svg');
/* Fonts */
@import "../../../../../assets/scss/fonts";
@import "../../../../../assets/scss/main";
@import "../../../../../assets/scss/icons";
@import "../../../../../assets/scss/structure-grid";
@import "../../../../../assets/scss/nav";
@import "../../../../../assets/scss/menu";
@import "../../../../../assets/scss/card";
@import "../../../../../assets/scss/a";
@import "../../../../../assets/scss/about";
@import "../../../../../assets/scss/images";
@import "../../../../../assets/scss/footer";
@import "../../../../../assets/scss/hdr-warning";
@import "../../../../../assets/scss/model";
@import "../../../../../assets/scss/model-switch-board";
@import "../../../../../assets/scss/content";
@import "../../../../../assets/scss/text-effects";
@import "../../../../../assets/scss/services/cookie-consent";
