$card-padding: .4rem;

.cards .stack .card {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 2em);
  /* Center content */
  justify-content: center;
  align-items: center;
  transition: z-index 300ms linear, box-shadow 300ms linear;
  padding: .6em;
  box-sizing: border-box;
  width: inherit;

  &.active {
    box-shadow: 0 0 10px var(--background-color);
    z-index: 3;
    transition: z-index 2000ms linear, box-shadow 300ms linear;

    &.__inserted {
      box-shadow: 0 0 10px inset var(--background-color);
    }
  }

  &:not(.home) {
    position: relative;
    /* display: flex; */
    padding: $card-padding;
    @media all and (orientation:landscape) {
      padding: calc($card-padding * 4);
    }
  }

  &.home {

    @keyframes home-title {

      from {
        font-variation-settings: "wght" 150, "ELSH" 4, "ELGR" 4;
      }

      to {
        font-variation-settings: "wght" 350, "ELSH" 2, "ELGR" 1;
        }
  /*
      0% {
        font-variation-settings: "wght" 350, "ESHP" 2, "EGRD" 1;
      }

      25% {
        font-variation-settings: "wght" 200, "ESHP" 2, "EGRD" 1;
      }

      50% {
        font-variation-settings: "wght" 200, "ESHP" 4, "EGRD" 1;
      }

      75% {
        font-variation-settings: "wght" 200, "ESHP" 4, "EGRD" 2;
      }
  */
    }

  /* @supports (font-variation-settings: normal) { */

    .page-title {
      position: relative;
      max-width: 100vw;
      margin-block-start: 10vh;
      display: flex;
      flex-basis: 100%;
      justify-content: center;


      .home-title {
        font-family: var(--title-font);
        mix-blend-mode: unset;
        background-image: $hdr-bg;
        background-size: 100% 100%;
        background-clip: text;
        font-size: 25.5vw;
        color: transparent;
        opacity: 0;
        transition: opacity 100ms ease-in-out;
        white-space: normal;
        text-align: center;

        @supports (font-variation-settings: normal) {
          font-variation-settings: "wght" 350, "ELSH" 4, "ELGR" 2;
          animation: home-title 15s infinite linear alternate;
        }

        @media all and (orientation:landscape) {
          white-space: nowrap;
          font-size: 14vw;
          text-align: unset;
        }
      }

    }

  }

  @media all and (orientation:landscape) {
    &:nth-child(even) .post-header .post-title {
      left: calc($card-padding * 4);
      right: unset;
    }

    &:nth-child(odd) .post-header .post-title {
      left: unset;
      right: calc($card-padding * 4 + 5rem);
    }
  }

  .post-header {
    height: 10vh;
    max-height: 10vh;
    overflow: hidden;

    .post-title {
      font-size: 2.6rem;
      z-index: 1;
      mix-blend-mode: exclusion;
      text-shadow: 8px 8px #262626, 16px 16px #4d4d4d;
      padding-bottom: .45em;
      position: absolute;
      top: 1.8rem;
      left: 2rem;
      @include handjet-pixelated;

      @media all and (orientation:landscape) {
        top: calc($card-padding * 4);
        /* font-size: 9vh; */
      }
    }

    .post-meta {
      display: none;

      .post-date {

      }

      .post-tags {

      }

    }
  }

  .post-body {
    height: 100%;
    margin-top: 8.4rem;
    width: inherit;

    @media all and (orientation:landscape) {
      margin-top: 4rem;
    }

    /*
    a {
      text-decoration: none;
      box-shadow: inset 0 -.4em lighten($background-color, 20%);
      transition: all 250ms linear;

      &:hover {
        box-shadow: inset 0 -.6em lighten($background-color, 50%);
      }
    }
    */



    .post-content {
      position: relative;

      .post-text {
        font-size: 1.4em;
        color: white;
        background-color: black;
        box-shadow: rgb(0 0 0 / 50%) .45em .45em, rgb(0 0 0 / 40%) .9em .9em, rgb(0 0 0 / 30%) 1.35em 1.35em;
        padding: .6em;

        /* max-width: max-content;*/

        /*position: absolute;
        bottom: 0;
        right: 0;
        */
        z-index: 1;

        @media all and (orientation:landscape) {
          margin: 2em;
        }

        ul {
          padding-top: .2em;
          padding-inline-start: 1em;
        }

      }

      .images {
        height: 90vh;
        max-height: 90vh;
            overflow: hidden;

        .image-container {

          width: 100%;
          overflow: hidden;

          .single-image {
            height: 100%;
            width: 100%;
            transition: all 500ms;
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: left;
            transform-origin: center left;

            .post-image {

              transition: all 500ms;
              object-fit: cover;
              height: 90vh;
              aspect-ratio: 4/3;
            }

            &:hover {
              transform: scale(2);
              transition: all 500ms;
            }
          }
        }

      }

    }

  }

}
