$text-font: 'montserrat',roboto;
$title-font: 'Handjet Variable';
$heading-font: '';
$sub-heading-font: '';
$menu-heading-font: 'Special Elite';
$menu-text-font: 'Handjet Variable', 'Courier New', Courier, monospace;

.handjet-loaded  {
  .home .home-title,
  menu.lang-switch {
    opacity: 1 !important;
  }
}

/*
@supports (font-variation-settings: normal) {
    body {
        font-family: "Roboto Flex Variable", sans-serif;
        font-weight: 500;
        font-variation-settings: "wdth" 75, "wght" 500;
    }
}
*/
