$text-font: 'Figtree', roboto, helvetica, sans-serif;
$title-font: 'Handjet Variable';
$heading-font: '';
$sub-heading-font: '';
$menu-heading-font: 'Special Elite';
$menu-text-font: 'Handjet Variable', 'Courier New', courier, monospace;

@mixin handjet-pixelated($weight: 550) {
  font-family: var(--title-font);
  @supports (font-variation-settings: normal) {
    font-variation-settings: "wght" $weight, "ESHP" 2.4, "EGRD" 1.07;
  }
}

@mixin text-font($weight: 300) {
  font-family: var(--text-font);
  font-weight: $weight;
}

.handjet-loaded  {
  .home .home-title,
  div.title-font,
  menu.lang-switch {
    opacity: 1 !important;
  }
}
