:root {
  --background-color: #{$background-color};
  --text-color: #{$text-color};
  --text-font: #{$text-font};
  --title-font: #{$title-font};
  --heading-font: #{$heading-font};
  --sub-heading-font: #{$sub-heading-font};
  --menu-heading-font: #{$menu-heading-font};
  --menu-text-font: #{$menu-text-font};
}

::selection {
  color: var(--background-color);
  background: var(--text-color);
  text-shadow: 0 0 15px rgba(0, 0, 0,.5), 0 0 10px rgba(0 ,0 ,0 ,.5);
}


/* Reset some things */
h1, h2, h3, h4, h5, ul, p {
  margin: 0;
  margin-block: 0 0;
}

h1, h2, h3, h4, h5, p {
  overflow-wrap: break-word;
}

img, picture {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: unset;

  /*
  a:link {
  }

  &:visited {
  }

  &:hover {
  }

  &:active {
  }
  */
}

/* Base */

html {
  scroll-snap-type: both mandatory;
  scroll-behavior: smooth;
  background-color: var(--background-color);
  scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

body {
  margin: unset;
  height: 100vh;
  position: relative;
  overflow-x: scroll;

  &.noscroll {
    animation: noscroll 250ms linear forwards;
    /*
    position: fixed;
    transition: position 250ms allow-discrete;
    */
  }

  @keyframes noscroll {
    to {
      position: fixed;
      overflow: hidden;
    }
  }

}

section {
  background-color: var(--background-color);
  color: var(--text-color);
}


.cards {
  position: relative;

  section {
    scroll-snap-align: start;
    scroll-margin: .1em;
  }

  .stack {


  }
}
