<div class="post-content">
  {{- $contentClass := "" -}}
  {{- $contentStyle := ""  -}}
  {{- if (isset .Params "class") -}}
    {{- $contentClass = .Params.class -}}
  {{- end -}}
  {{- if (isset .Params "style") -}}
    {{- $contentStyle = .Params.style -}}
  {{- end -}}
  <div class="post-text {{ $contentClass }}" style="{{ $contentStyle }}">
    {{- .Content -}}
  </div>

  {{- with .Resources -}}
    <div class="images">
      {{- $hdrSuffix := "-hdr" -}}
      {{- $imageResources := "" -}}
      {{- $class := "" -}}
      {{- if (.Match (printf "*%s.jp*" $hdrSuffix)) -}}
        {{- $imageResources = .Match (printf "*%s.jp*" $hdrSuffix) -}}
        {{- $class = "hdr" -}}
      {{- else if (.Match "*.jp*")  -}}
        {{- $imageResources = .Match "*.jp*" -}}
        {{- $class = "sdr" -}}
      {{- end -}}
      {{- with $imageResources -}}
        {{- range . -}}
          {{- $ar := printf "aspect-ratio: %d / %d;" .Height .Width -}}
          {{- $bg := printf "background-image: url(%s);" .RelPermalink  -}}
          <div class="image-container" style="{{ $ar | safeCSS }}">
            <div class="single-image" style="{{ $bg | safeCSS }}">
            </div>
            {{/*
            <img src="{{ .RelPermalink }}" class="post-image {{ $class }}">
          */}}
          </div>
        {{- end -}}
      {{- end -}}
    </div>
  {{- end -}}
</div>
