<div id="hdr-warning">
  <i class="close"></i>
  <span class="hdr-warning-text">
    {{- i18n "hdrWarning" | safeHTML -}}
  </span>
  <a class="hdr-ok button" href="#">
    <span>{{ i18n "hdrOk" }}</span>
  </a>
</div>
<script>
  if (!checkHDR()) {


    document.querySelector('#hdr-warning .close, #hdr-warning .button').addEventListener("click", function() {
      createCookie('cookie-notice-option','false',31);
      document.getElementById('hdr-warning').classList.add('hidden');
    });
  }
</script>
