{{- partial "post-header.html" . -}}
<div class="post-body">
  {{- partial "content.html" . -}}
</div>

{{- define "partials/post-header.html" -}}
  <div class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    {{- if not .Params.metaPage -}}
      <div class="post-meta">
        {{- if not .Date.IsZero -}}
          <div class="post-date">
            <a href="{{ .RelPermalink }}" class="date">
              <span class="key">{{ i18n "publishedOn" }}</span>
              <span class="val"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{- partial "date.html" . -}}</time></span>
            </a>
          </div>
        {{- end -}}
        {{- partial "meta/tags.html" . -}}
      </div>
    {{- end -}}
  </div>
{{- end -}}
