{{- partial "post-header.html" . -}}
<div class="post-body">
  {{- partial "content.html" . -}}
</div>

{{- define "partials/post-header.html" -}}
  <div class="post-header">
    {{- if ne .Title "" -}}
      <h1 class="post-title">{{ .Title }}</h1>
    {{- end -}}
    {{- if not .Params.metaPage -}}
      <div class="post-meta">
        {{- if not .Date.IsZero -}}
          <div class="post-date">
            <a href="{{ .RelPermalink }}" class="date">
              <span class="key">{{ i18n "publishedOn" }}</span>
              <span class="val">
                <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">
                  {{- .Date | time.Format ":date_full" -}}
                </time>
              </span>
            </a>
          </div>
        {{- end -}}
        {{- if and (and .Params.camera (ne .Params.camera "")) (and .Params.film (ne .Params.film "")) -}}
          <div class="photo-meta">
            <div class="camara">
              <span class="key">{{ i18n "Camara" }}</span>
              <span class="val">{{ .Params.camera }}</span>
            </div>
            <div class="film">
              <span class="key">{{ i18n "Film" }}</span>
              <span class="val">{{ .Params.film }}</span>
            </div>
          </div>
        {{- end -}}
        {{- partial "meta/tags.html" . -}}
      </div>
    {{- end -}}
  </div>
{{- end -}}
